version: '3.7'

services:
  app:
    build: docker/revealjs
    working_dir: /app
    volumes:
      - ./app:/app
    ports:
      - {{ docker_port_prefix }}80:8000
    stdin_open: true
    healthcheck:
      test: "curl --fail http://localhost:8000/"
